################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StacksOfSnaps/.vs
/StacksOfSnaps/bin/Debug/net8.0-windows
/StacksOfSnaps/obj
